/*//////////////////////////////////

OBJECTIVE: Make a transparent button with white border/text.  The on-hover action creates a line that grows larger from bottom up.

FUNCTIONALITY:  Button will have a solid white border/ white text.
                On hover, the bottom of the button will increase to a given height upwards.
                
DESIGN NOTES:  simple design, one color.



            
HTML:        <link rel="stylesheet" href="minimalUnderline.css">
             <a href="#" class="button">Let's Go</a>
      


///////////////////////////////////*/ 
* {
    box-sizing: border-box;
  }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: rgb(186, 196, 204);
  }

