/*//////////////////////////////////

OBJECTIVE: Make a transparent button with white border/text.  The on-hover action creates a line that grows larger from bottom up.

FUNCTIONALITY:  Button will have a solid white border/ white text.
                On hover, the bottom of the button will increase to a given height upwards.
                
DESIGN NOTES:  simple design, one color.



            
HTML:       


///////////////////////////////////*/ 

