/*//////////////////////////////////

OBJECTIVE: Make a transparent button with white border/text.  The on-hover action creates a line that grows larger from bottom up.

FUNCTIONALITY:  Button will have a solid white border/ white text.
                On hover, the bottom of the button will increase to a given height upwards.
                
DESIGN NOTES:  simple design, one color.

            
meta:       <link rel="stylesheet" href="minimalUnderline.css">
html:       <a href="#" class="button">minimal underline</a>
      


///////////////////////////////////*/ 
* {
    box-sizing: border-box;
  }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: rgb(224, 224, 224);
  }

  a.button { 
    font-size: 1em;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(34, 34, 34);
    border: 2px solid rgb(39, 39, 39);   
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  a.button:before {
    content: "";
    background: #fff;
    height: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: 300ms all ease-in-out;
  }

  a.button:hover:before {
    height: 4px;
  }

  