/*//////////////////////////////////

OBJECTIVE: Make a transparent button with white border/text and a offset shadow with a shadow that moves on hover.

FUNCTIONALITY:  Before, the button will have an offset shadow.
                On hover, the button shadow will align with the button outline.     
                
DESIGN NOTES: button text padding x2 compared to bottom to accomodate even resting state of shadow.



            
HTML:       <a class="btn" href="#">OSB Button!</a>


///////////////////////////////////*/ 


 * {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
  }
    
  /* content (button) alignment centered on screen*/
  body {
    display: flex;                                            /* Allows property to grow or shrink to the space available in the flex container*/
    align-items: center;                                      /* Vertical alignment to the center of the page.  https://www.w3schools.com/cssref/css3_pr_align-items.asp*/
    justify-content: center;                                  /* Horizontal alignment to center of page.  https://www.w3schools.com/cssref/css3_pr_justify-content.asp  */
    height: 100vh;                                            /* Height is equal to 100% of the viewport (Viewport Height) */
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
  }

  /* settings for anchor text */
  a {
    font-size: 2em;                          /* parent font size - remember 1 em = 16px */
    text-decoration: none;                   /* removes anchor underline */
    text-transform: uppercase;               /* upper case all text in the box */
    letter-spacing: 0.025em;
    line-height: 1.6;
  }
  
  /* primary button*/
  .btn {
    position: relative;
    padding: 1rem 2rem 0.5rem 2.5rem;          /* padding space around button text -- top/right/bottom/left     */
    color: #252525;
    border: 3px solid #252525;
    border-radius: 5px;
    transition: padding 0.3s ease-in-out;
  }

  /* button shadow settings*/
  .btn:before {
    content: "";
    position: absolute;
    top: 0.55rem;
    left: 0.55rem;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #ca91cc;
    border-radius: 5px;
    border-right: 3px solid #ca91cc;
    border-bottom: 3px solid #ca91cc;
    transition: all 0.18s ease-in-out;
  }

 /* This brings the displaced shadow fully into the boundaries of the main button*/
  .btn:hover:before {
    top: 0;
    left: 0;
  }
  
  /* Neat addition -- Brings the black outline button down on hover.  Without this, the button itself stays in place and the shadow transitions into it on hover*/
  
  /* box-shadow: inset xPosition yPosition blurSize spreadSize color; */
  
  /* .btn:hover {
    padding: 0.75rem 2.25rem;
  } */
  
 
  